.container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid; */
    
}
/* faixa superior do header */
.header-up{
    display: grid;
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: center;
}
/* fim faixa superior do header */

/* estilizando o header */
header{
    border-bottom: 2px solid #948f8f9d;
    position: fixed;
    left: -20px;
    width: 100vw;
    z-index: 100000;
    border: none;
    
}
.header{
    border-radius: 10px;
    box-shadow: 7px 5px 56px -10px #000000;
    background-color: #e25151;
    color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;

}

.header-logo{
    position: relative;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-content: center;
}

.header-lista{
    position: relative;
    z-index: 1;
    align-content: center;
}

.header-lista nav ul{
    display: flex;
    gap: 30px;
}

.header-lista nav ul{
    list-style: none;
}

.header-right{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.header-right input{
    padding: 5px;
}

/* fim da estilização do header */
