.container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid; */
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* faixa superior do header */
.header-up{
    position: relative;
    z-index: 1;
    display: grid;
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: center;
}
/* fim faixa superior do header */

/* estilizando o header */
header{
    position: relative;
    z-index: 1;
    border-bottom: 2px solid #948f8f9d;
}
.header{
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* border: 2px solid; */
    padding: 10px;
}

.header-logo{
    position: relative;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-content: center;
}

.header-lista{
    position: relative;
    z-index: 1;
    align-content: center;
}

.header-lista nav ul{
    display: flex;
    gap: 30px;
}

.header-lista nav ul{
    list-style: none;
}

.header-right{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.header-right input{
    padding: 5px;
}
/* fim da estilização do header */
