.hero-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0 auto;
}

.hero-container > .hero-left{
    border-right: 1px solid #948f8f9d;
    margin-left: 20px;
}

.hero-container > .hero-left nav ul li{
    list-style: none;
}

.hero-container > .hero-right{
    justify-items: center;
    border-left: 1px solid #948f8f9d;
    gap: 40px;
}
.menu-lateral{
    display:flex;
    flex-direction: column;
    gap: 2px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    padding-top: 20px;

}

.menu-lateral li{
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    background-color: rgb(246, 103, 103);
    color: white;
}

.mnlat{
    width: 200px;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    

}
.mnlat:hover{
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;
    
}
.mnlat:active{
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;

}


.hero-slid{
    width: 85%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}