.promos{
    border-left: 2px solid rgb(149, 149, 161);
    border-right: 2px solid rgb(149, 149, 161);
}

.promos > .promo-text{
    display: flex;
    justify-content: space-between;
}

.promos > .promo-produtos{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    overflow: auto;
    scrollbar-width: none;
}

.promo-flex{
display: flex;
    justify-content: space-between;
}

.FOTO{
    background-image: url('/src/assets/images/controll.png');
    background-size: cover;
    width: 270px;
    height: 250px;
    border: 2px solid rgb(112, 107, 107);
    display: flex;
    align-items: end;
    border-radius: 5px;
    cursor: pointer;
}
.FOTO1 {
    background-image: url('/src/assets/images/smartphone-153650_1280.png');
    background-size: 70%;
    background-repeat: no-repeat;
    width: 270px;
    height: 250px;
    border: 2px solid rgb(112, 107, 107);
    display: flex;
    align-items: end;
    border-radius: 5px;
    cursor: pointer;
}

.FOTO2 {
    background-image: url('/src/assets/images/image (11).webp');
    background-size: cover;
    width: 270px;
    height: 250px;
    border: 2px solid rgb(112, 107, 107);
    display: flex;
    align-items: end;
    border-radius: 5px;
    cursor: pointer;
}

.FOTO3 {
    background-image: url('/src/assets/images/image (8).webp');
    background-size: cover;
    width: 270px;
    height: 250px;
    border: 2px solid rgb(112, 107, 107);
    display: flex;
    align-items: end;
    border-radius: 5px;
    cursor: pointer;
}

.FOTO4 {
    background-image: url('/src/assets/images/image (5).webp');
    background-size: cover;
    width: 270px;
    height: 250px;
    border: 2px solid rgb(112, 107, 107);
    display: flex;
    align-items: end;
    border-radius: 5px;
    cursor: pointer;
}

.FOTO5 {
    background-image: url('/src/assets/images/computer-mouse-152249_1280.png');
    background-size: cover;
    width: 270px;
    height: 250px;
    border: 2px solid rgb(112, 107, 107);
    display: flex;
    align-items: end;
    border-radius: 5px;
    cursor: pointer;
}

.FOTO6 {
    background-image: url('/src/assets/images/chair-2421605_1280.png');
    background-size: 70%;
    background-repeat: no-repeat;
    width: 270px;
    height: 250px;
    border: 2px solid rgb(112, 107, 107);
    display: flex;
    align-items: end;
    border-radius: 5px;
    cursor: pointer;
}

.FOTO7 {
    background-image: url('/src/assets/images/51gRv8z+K6L._AC_SY879_.jpg');
    background-size: 95%;
    background-repeat: no-repeat;
    width: 270px;
    height: 250px;
    border: 2px solid rgb(112, 107, 107);
    display: flex;
    align-items: end;
    border-radius: 5px;
    cursor: pointer;
}


.img-produto span{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    display: none;
}

.img-produto:hover{
    & span{
        display: block;
    }
}

.promos > button{
    display: flex;
    padding: 15px;
    background-color:brown;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.clock {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: red;
    font-weight: bold;
    font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 7px;
}